.reviewee-dashboard {
  &-container {
    display: flex;
  }
  &-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.sidebar {
  &-container {
    display: inline;
  }
  &-item {
    list-style: none;
    color: black;
    padding: 10px 0;
    button {
      background-color: inherit;
      border: none;
      padding: 0;
      font-weight: 600;
    }
  }
  &-subtitle {
    font-size: 14px;
  }
}
