@use '../base';

.jumbotron {
  &-container {
    max-width: base.$layout-width;
    background-color: rgb(218, 237, 245);
    text-align: center;
    padding: 60px 0;
    margin: 0 auto;
    border-radius: 20px;
  }
  &-header-container {
    padding: 20px;
  }

  &-header {
  }
  &-subheader {
  }
}
