.form {
  &-container {
    display: flex;
    justify-content: space-between;
  }
  &-group-container {
    width: 500px;
    margin: 0 auto;
  }
  &-group {
    width: 48%;
  }
}

.textarea {
  resize: none;
  height: 100px !important;
  &-label {
    float: left;
  }
}

.uploader-container {
  margin: 40px auto 0 auto;
  width: 500px;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 120px;
  overflow: scroll;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  transition: all .15s linear;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
  overflow: inherit;
  border: 2px dashed #adadad;
  border-radius: 4px;
}

.file-hover {
  border: 2px dashed #2484ff !important;
  background-color: white !important;
}

.form-group {
  text-align: left;
}

// override component styles
.dzu-inputLabel {
  font-family: inherit;
  font-weight: inherit;
}
