* {
  font-family: Poppins;
}

#tsparticles {
  /* position: absolute; */
}

.tsparticles-canvas-el {
  position: absolute;
  z-index: -9999;

}

.title {
  text-align: center;
  color: white;
  font-size: 72px;
  margin-bottom: 40px;
}

.subtitle {
  text-align: center;
  color: white;
  font-size: 48px;
  margin-bottom: 60px;
}

body {
  background-color: black;
}

.main-container {
  z-index: 2324;
  margin: 200px auto;
  max-width: 1200px;
  background-color: black;
}

.tagline {
  text-align: center;
  font-size: 2em;
  color: white;
}

.submit {
  max-width:  600px;
  margin: 80px auto 0 auto;
}

.highlight {
  color: #c7c7ff;;
}

.image-container {
  margin-top: 80px;
}

.left {
  float: left;
}

.right {
  float: right;
  max-width: 430px;
}