* {
  font-family: Poppins;
}

.tsparticles-canvas-el {
  position: absolute;
  z-index: -9999;
}

.title {
  text-align: center;
  color: black;
  font-size: 72px;
  padding: 80px 0 40px 0;
}

.subtitle {
  text-align: center;
  color: black;
  font-size: 48px;
  padding-bottom: 60px;
}

body {
  background-color: white;
}

.main-container {
  z-index: 2324;
  margin: 0 auto;
  max-width: 1400px;
  /* background-color: white; */
}

.tagline {
  text-align: center;
  font-size: 2em;
  color: black;
}

.submit {
  max-width:  600px;
  margin: 80px auto 0 auto;
}

.highlight {
  color: #c7c7ff;;
}

.image-container {
  margin-top: 80px;
}

.image {
  max-width: 100%;
}